{
  "presets": ["stage-2", "es2015", "react"],
  "plugins": [
    "react-require",
    [
      "babel-root-import",
      {"rootPathSuffix": "src"}
    ],
    "transform-class-properties",
    [
      "import-rename",
      {"^(.*)\\.sass$": "$1.css"}
    ]
  ]
}
