.formatron-table
  .ReactVirtualized__Table__row
    border-bottom: 1px solid #e0e0e0

    &.formatron-table-row-even
      background-color: #fafafa


.formatron-data-input:not(.bool),
.formatron-data-input-wrapper,

  .formatron-field
    margin-bottom: 0

  .formatron-filter-input
    width: 100%

.formatron-filter-input
  margin-top: 5px
  padding: 8px 5px
  border: 1px solid grey
  border-radius: 3px
  font: inherit
  font-weight: normal

